@use "colors";
@use "typo";
@use "layout";

@mixin card($color: colors.$orange300) {
    background-color: $color;
    z-index: 0;
    padding: 1px 0 0 0;
    position: relative;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 50px 0 0 0;
    background-color: colors.$navy950;
    color: white;
    display: grid;
    place-content: center;
    height: 100%;
    font-family: typo.$font;
    font-size: typo.$font-size-card-title;
}

p {
    color: colors.$navy200;
    margin: 0;
}

.container {
    height: 100%;
    display: grid;
    gap: 20px;
    max-width: 400px;
}

.card {
    background-color: colors.$navy900;
    border-radius: layout.$border-radius;
}

.profile-infos {
    padding: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: colors.$purple600;
    border-radius: layout.$border-radius;
}

img {
    height: 75px;
    width: 75px;
    border-radius: 100px;
    border: 3px solid white;
}

.name {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: typo.$small-weight;
}

.timeframe-selection {
    display: flex;
    padding: 30px 0;
    justify-content: space-around;

    p {
        font-size: 18px;
    }
}

.timeframe-selection[data-timeframe="daily"] {
    :nth-child(1) {
        color: white;
    }
}

.timeframe-selection[data-timeframe="weekly"] {
    :nth-child(2) {
        color: white;
    }
}

.timeframe-selection[data-timeframe="monthly"] {
    :nth-child(3) {
        color: white;
    }
}



.activity[data-title="work"] {
    @include card;
}

.activity[data-title="play"] {
    @include card($color: colors.$blue300);
}

.activity[data-title="study"] {
    @include card($color: colors.$pink400);
}

.activity[data-title="exercise"] {
    @include card($color: colors.$green400);
}

.activity[data-title="social"] {
    @include card($color: colors.$purple700);
}

.activity[data-title="self-care"] {
    @include card($color: colors.$yellow300);
}

.top-icon {
    position: absolute;
    right: 10px;
    top: 0;
    height: 75px;
    width: 75px;
    opacity: 0.2;
    z-index: -1;
    margin: 0;
    color: black;
    transform: rotate(45deg);
}

.information {
    margin-top: 40px;
    padding: 30px 20px 40px 30px;
    background-color: colors.$navy900;
    border-radius: layout.$border-radius;
    display: grid;
    grid-template-columns: 2;
    align-items: center;
    justify-content: space-between;
}

.menu {
    grid-row: 1;
    grid-column: 2;
    color: colors.$navy200;
    margin: 0;
    padding: 0;
    justify-self: end;
    width: 30px;
    height: 30px;
}

h3 {
    font-size: typo.$font-size-card-title;
    font-weight: typo.$bold-weight;
    margin: 0;
    margin-bottom: 0.5em;
}

#current {
    font-size: 32px;
    font-weight: typo.$small-weight;
    color: white;
    grid-column: 1;
}

#previous {
    font-size: 16px;
    font-weight: typo.$small-weight;
    grid-row: 2;
    grid-column: 2;
}

.menu-container {
    display: grid;
    gap: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


@media (min-width: 1100px) {
    .container {
        grid-template-columns: 4;
        grid-template-rows: 2;
        grid-template-areas: 
        "profile work play study"
        "profile exercise social self-care";
        gap: 20px;
        justify-content: center;
        align-items: stretch;
    }

    .card{
        width: 250px;
    }

    .profile {
        grid-area: profile;
    }

    .activity{
        grid-area: attr(data-title);
    }

    .profile-infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    .name {
        font-size: 40px;
    }

    .timeframe-selection {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }

    .information {
        display: grid;
        grid-template-columns: 2;
        align-items: center;
        justify-content: space-between;
    }

    #current {
        font-size: 40px;
        margin-bottom: 10px;
    }

    .menu {
        grid-row: 1;
        grid-column: 2;
    }

    #previous {
        grid-row: 3;
        grid-column: 1;
    }

}

.information:hover{
    background-color: colors.$purple500;
    cursor: pointer;
}

.menu:hover {
    color: white;
    cursor: pointer;
}

.timeframe-selection p:hover {
    cursor: pointer;
    color: white;
}